# Python-specific
__pycache__/
*.pyc

# Ignore environment files
.env
.venv/
env/
venv/

*.pkl
fine_tuned_model/
results/
results_llm/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore build directories and files
build/
dist/
*.log

# Ignore dependency directories
node_modules/